.testimonial{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.testimonial-slider {
  position: relative;
  width: 80%;
  max-width: 600px;
}

.slide {
  display: none;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.slide.active {
  display: block;
}

.slide img {
  max-width: 12em;
  height: 15em;
  border-radius: 40%;
  margin-bottom: 20px;
}

.testimonial-content {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.testimonial-author {
  font-size: 16px;
  color: #555;
}

.btn button {
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
 
}

button:hover {
  background-color: #0056b3;
}
